/* Estilos generales */
:root {
    --color_fondo_claro: #b9bbbd;
    --color_boton: #93BBBF;
    --color_fondo_oscuro: #374342;
    --color_boton_realce: #899B9F;
    --color_textos: #0D0D0D;
    --color_blanco: #ffffff;
}

/*Estilos generales del body*/
body {
    background-image: url(../img/81-810743_tech-wallpaper-iphone.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
}


.footer .menu {
    display: none;
}

.footer .menu .atributte {
    display: none;
}

@media screen and (min-width: 1024px) {

    .footer .menu__list {
        display: flex;
        justify-content: right;
        list-style-type: none;
    }

    .menu__list li {
        margin-left: 20px;
        cursor: pointer;
        border-radius: 10%;
        transition: all 0.5s;
    }

    .menu__list li:hover {
        background-color: var(--color_boton_realce);
    }

    /* Estilos del footer */
    .footer {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        position: static;
        left: 0;
        margin: 30px 100px 0px 20px;
        width: 97%;
        color: #fff;
        border-top: 2px solid var(--color_blanco);
        border-radius: 5px;
    }

    footer a {
        color: var(--color_blanco);
        text-decoration: none;
    }

    .footer .menu {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .footer .menu .atributte {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .footer .menu__list {
        display: flex;
        justify-content: right;
        list-style-type: none;
    }

    .footer .menu__list li {
        margin-left: 20px;
        cursor: pointer;
        border-radius: 10%;
        transition: all 0.5s;
    }

    .footer .menu__list li:hover {
        background-image: var(--color_boton_realce);
    }

    /*Fin footer*/
}