/* Estilos generales */
:root {
    --color_fondo_claro: #b9bbbd;
    --color_boton: #93BBBF;
    --color_fondo_oscuro: #374342;
    --color_boton_realce: #899B9F;
    --color_textos: #0D0D0D;
    --color_blanco: #ffffff;
    --color_acento: #0f0581;
}

/*Estilos generales del body*/
body {
    background-image: url(../img/81-810743_tech-wallpaper-iphone.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: inherit;
    font-family: 'Raleway', sans-serif;
}