/* Estilos generales */
:root {
    --color_fondo_claro: #b9bbbd;
    --color_boton: #93BBBF;
    --color_fondo_oscuro: #374342;
    --color_boton_realce: #899B9F;
    --color_textos: #0D0D0D;
    --color_blanco: #ffffff;
}

/*Estilos generales del body*/
body {
    background-image: url(../img/81-810743_tech-wallpaper-iphone.jpg);
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
}

.container__div {
    height: max-content;
    margin: 0px 0 0 0;
}

.container__tabs {}

/* Estilos de las pestañas */
.tabs {
    list-style-type: none;
    width: 20px;
    margin: 5px 0px 0px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    transform: rotate(-90deg);
}

.container__div .tabs li {
    padding: 10px 10px 10px 10px;
    margin-left: 2px;
    vertical-align: middle;
    background-color: none;
    border: 2px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    height: 25px;
}

.tab-content {
    display: block;
}

.tab-content.active {
    display: block;
}

.container__section {
    margin-left: 0px;
    text-align: justify;
    color: #fff;
}

/*Section sobre mi*/


/*Sección skills*/

.tab-content h3 {
    text-align: center;
}

.skills__line {
    display: flex;
    height: 350px;
    flex-direction: column;
    flex-wrap: wrap;
}

.skills__box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills__box ul {
    list-style-type: none;
    color: var(--color_fondo_claro);
}

/*Hobbies*/
.hobbies__line {
    display: flex;
    height: 350px;
    flex-direction: column;
    flex-wrap: wrap;
}

.hobbies__box {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hobbies__box ul {
    list-style-type: none;
    color: var(--color_fondo_claro);
}

.hobbies__img img {
    width: 64px;
    height: 64px;
}

.footer .menu {
    display: none;
}

.footer .menu .atributte {
    display: none;
}

@media screen and (min-width: 1024px) {


    /*Estilos de las pestañas*/
    .tabs {
        margin: 20px 5px 0px 35px;
        font-size: 30px;
        font-weight: bold;
    }

    /*Estilo del contenido de las secciones*/
    .container__section {
        margin: 20px 20px 0px 20px;
        text-align: justify;
        color: var(--color_blanco);
        font-size: 24px;
    }

    .container__div .tabs li {
        transition: all 0.5s;
    }

    .container__div .tabs li:hover {
        background-color: var(--color_boton_realce);
    }

    .skills__box {
        max-width: 100%;
        width: 30%;
        max-height: 100%;
        padding: 0;
        align-self: flex-start;
        font-size: 24px;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        color: var(--color_fondo_claro);
    }

    .skills__box ul {
        align-items: center;
        vertical-align: middle;
        text-align: center;
    }

    .skills__img {
        scale: 2.0;
    }

    .hobbies__line {
        flex-direction: row;
    }

    .hobbies__box {
        max-width: 100%;
        width: 30%;
        max-height: 100%;
        padding: 0;
        align-self: flex-center;
        font-size: 24px;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        color: var(--color_fondo_claro);
    }

    .hobbies__box ul {
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        text-align: center;
    }

    .hobbies__img {
        scale: 2.0;
    }

    .footer .menu__list {
        display: flex;
        justify-content: right;
        list-style-type: none;
    }

    .menu__list li {
        margin-left: 20px;
        cursor: pointer;
        border-radius: 10%;
        transition: all 0.5s;
    }

    .menu__list li:hover {
        background-color: var(--color_boton_realce);
    }

    /* Estilos del footer */
    .footer {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        position: static;
        left: 0;
        margin: 30px 100px 0px 20px;
        width: 97%;
        color: #fff;
        border-top: 2px solid var(--color_blanco);
        border-radius: 5px;
    }

    footer a {
        color: var(--color_blanco);
        text-decoration: none;
    }

    .footer .menu {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .footer .menu .atributte {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .footer .menu__list {
        display: flex;
        justify-content: right;
        list-style-type: none;
    }

    .footer .menu__list li {
        margin-left: 20px;
        cursor: pointer;
        border-radius: 10%;
        transition: all 0.5s;
    }

    .footer .menu__list li:hover {
        background-image: var(--color_boton_realce);
    }

    /*Fin footer*/
}